.button {
  cursor: pointer;

  padding-block: 16px;
  border: none;

  color: $c-white;
  text-decoration: none;

  background-color: $c-black;
  outline: none;

  @include button-text-style;

  &:hover {
    @include hover(scale, 1.05);

    background-color: $c-dark-black;
    transition: all $transition-duration * 2;
  }

  &:disabled {
    background-color: $c-light-gray;
  }

  &--bg-blue {
    background-color: $c-blue-2;

    &:hover {
      @include hover(scale, 1.05);

      background-color: $c-dark-blue;
      transition: all $transition-duration * 2;
    }

    &:disabled {
      background-color: $c-light-blue;
    }
  }
}
