.get-in-touch {
  &__content {
    @include inline-padding-content;
    @include grid-layout;

    row-gap: 37px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    min-height: 128px;
    margin-bottom: 30px;

    @include on-tablet {
      min-height: 200px;
    }

    @include on-desktop {
      min-height: 128px;
    }
  }

  &__button {
    width: 102px;

    @include on-desktop {
      width: 123px;
    }
  }
}
