.icon {
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;

  fill: $c-light-black;

  &:hover {
    @include hover(scale, 1.2);

    transition: all $transition-duration * 2;
  }

  &--close {
    background-image: url('../images/icons/close.svg');
  }

  &--burger-menu {
    background-image: url('../images/icons/burger-menu.svg');
  }

  &--small {
    width: 24px;
    height: 24px;
  }

  &--facebook {
    background-image: url('../images/icons/facebook.svg');

    &:hover {
      content: url('../images/icons/facebook-hover.svg');
    }
  }

  &--twitter {
    background-image: url('../images/icons/twitter.svg');

    &:hover {
      content: url('../images/icons/twitter-hover.svg');
    }
  }

  &--instagram {
    background-image: url('../images/icons/instagram.svg');

    &:hover {
      content: url('../images/icons/instagram-hover.svg');
    }
  }

  &--arrow-up {
    background-image: url('../images/icons/arrow-up.svg');
  }
}
